<a href="https://colab.research.google.com/github/vinicius-marques1/Cognizant_Cloud_Data_Engineer/blob/main/fundamentos_ETL_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandera

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
import pandera as pa

In [12]:
valores_ausentes = ['**','****','*****','###!','####','NULL']
df = pd.read_csv('/content/drive/MyDrive/bases_de_dados/ocorrencia.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

In [16]:
schema = pa.DataFrameSchema(
    columns={
        'codigo_ocorrencia': pa.Column(pa.Int),
        'codigo_ocorrencia2': pa.Column(pa.Int),
        'ocorrencia_classificacao': pa.Column(pa.String),
        'ocorrencia_cidade': pa.Column(pa.String),
        'ocorrencia_uf': pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        'ocorrencia_aerodromo': pa.Column(pa.String, nullable=True),
        'ocorrencia_dia': pa.Column(pa.DateTime),
        'ocorrencia_hora': pa.Column(pa.String, nullable=True),
        'total_recomendacoes': pa.Column(pa.Int)
    }
)

In [17]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 9 columns]

In [8]:
df['codigo_ocorrencia'].is_unique

True

In [18]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [23]:
df.describe()

       codigo_ocorrencia  codigo_ocorrencia2  total_recomendacoes
count        6114.000000         6114.000000          6114.000000
mean        59775.058063        59775.058063             0.307164
std         14552.373693        14552.373693             1.143202
min         39115.000000        39115.000000             0.000000
25%         46586.250000        46586.250000             0.000000
50%         53110.500000        53110.500000             0.000000
75%         78142.500000        78142.500000             0.000000
max         80259.000000        80259.000000            23.000000

In [24]:
df.iloc[-1]

codigo_ocorrencia                         80259
codigo_ocorrencia2                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
total_recomendacoes                           0
Name: 6113, dtype: object

In [27]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [30]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0
5855              79956  ...                    0

[2 rows x 9 columns]

In [31]:
df.count()

codigo_ocorrencia           6114
codigo_ocorrencia2          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6114
ocorrencia_uf               6112
ocorrencia_aerodromo        3658
ocorrencia_dia              6114
ocorrencia_hora             6113
total_recomendacoes         6114
dtype: int64

In [34]:
# Ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

In [36]:
# Ocorrências cuja classificação == INCIDENTE GRAVE
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
29                39709  ...                    2
35                39487  ...                    0
...                 ...  ...                  ...
6090              80221  ...                    0
6095              80228  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0

[791 rows x 9 columns]

In [39]:
# Ocorrências cuja classificação == INCIDENTE GRAVE e estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
136               40270  ...                    0
171               40620  ...                    0
219               41411  ...                    2
297               42289  ...                    0
314               42323  ...                    0
...                 ...  ...                  ...
5949              80056  ...                    0
6000              80114  ...                    0
6007              80124  ...                    0
6081              80200  ...                    0
6104              80238  ...                    0

[145 rows x 9 columns]

In [40]:
# Ocorrências cuja classificação == INCIDENTE GRAVE ou estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[2110 rows x 9 columns]

In [41]:
# Ocorrências cuja (classificação == INCIDENTE GRAVE ou classificação == INCIDENTE) e o estado == SP
filtro1 = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6084              80234  ...                    0
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[1058 rows x 9 columns]

In [43]:
# Ocorrências cuja (classificação == INCIDENTE GRAVE ou classificação == INCIDENTE) e o estado == SP
filtro1 = (df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE']))
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6084              80234  ...                    0
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[1058 rows x 9 columns]

In [46]:
# Ocorrências cuja cidade começa com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
6094              80225  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6100              80235  ...                    0
6113              80259  ...                    0

[895 rows x 9 columns]

In [47]:
# Ocorrências cuja cidade termina com MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2646              80059  ...                    0
2657              51347  ...                    0
2857              52340  ...                    1
2968              52832  ...                    0
2999              52979  ...                    0
3042              52984  ...                    0
3094              53596  ...                    0
3159              53223  ...                    0
3173              53265  ...                    2
3191              53271  ...                    0
3684              65414  ...                    1
3727              65633  ...                    0
3883              66265  ...                    0
4231              77371  ...                    1
4313              77612  ...                    0
4576              78080  ...                    0
4987              78867  ...                    0
5071              78923  ...                    0
5081              78782  ...                    0
5406              79282  ...                    0
5441              79338  ...                    0
5475              79400  ...                    0
5759              79823  ...                    0
5776              79820  ...                    0
5778              79830  ...                    0
5861              79943  ...                    0
6093              80227  ...                    0

[36 rows x 9 columns]

In [48]:
# Ocorrências cuja cidade contem MA
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[514 rows x 9 columns]

In [50]:
# Ocorrências cuja cidade contem MA ou AL
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5                 39807  ...                    0
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
17                39810  ...                    0
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[954 rows x 9 columns]

In [51]:
# Ocorrências do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2998              52992  ...                    3
2999              52979  ...                    0
3000              53073  ...                    0
3001              53074  ...                    0
3002              52976  ...                    6
...                 ...  ...                  ...
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[471 rows x 9 columns]

In [53]:
# Ocorrências de dezembro de 2015
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 12)
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 9 columns]

In [56]:
# Ocorrências do ano de dezembro de 2015 entre di 2 e 9
filtro_ano = df.ocorrencia_dia.dt.year == 2015 
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia = (df.ocorrencia_dia.dt.day > 2) & (df.ocorrencia_dia.dt.day < 9)
df.loc[filtro_ano & filtro_mes & filtro_dia]

      codigo_ocorrencia  ...  total_recomendacoes
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[8 rows x 9 columns]

In [58]:
# Crição de uma nova coluna
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)

In [60]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [64]:
filtro = (df.ocorrencia_dia_hora >= '2010-01-03 11:05:00') & (df.ocorrencia_dia_hora <= '2010-01-08 13:00:00')
df.loc[filtro]

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00
3              39527  ...  2010-01-04 17:30:00
4              40324  ...  2010-01-05 19:25:00
5              39807  ...  2010-01-06 17:53:00
6              40215  ...  2010-01-07 18:40:00

[6 rows x 10 columns]

In [65]:
# Ocorrências do ano 2015 e mês 3
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 3)
df_201503 = df.loc[filtro]

In [66]:
df_201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [70]:
# Agrupando por ocorrencia_classificacao e contando por codigo_ocorrencia
df_201503.groupby('ocorrencia_classificacao').codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [71]:
# contando por ocorrencia_aerodromo (Não recomendado porque nessa coluna exitem valores Na)
df_201503.groupby('ocorrencia_classificacao').ocorrencia_aerodromo.count()

ocorrencia_classificacao
ACIDENTE            5
INCIDENTE          14
INCIDENTE GRAVE     2
Name: ocorrencia_aerodromo, dtype: int64

In [77]:
df_201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [79]:
# geração de um novo DataFrame para os estados do sudeste e no ano de 2010
filtro = (df.ocorrencia_dia.dt.year == 2010) & (df.ocorrencia_uf.isin(['SP', 'MG', 'ES', 'RJ']))
df_sudeste2010 = df.loc[filtro]
df_sudeste2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
9                39711  ...  2010-01-10 20:00:00
11               40069  ...  2010-01-10 14:50:00
16               39809  ...  2010-01-15 15:00:00
..                 ...  ...                  ...
541              43722  ...  2010-12-23 11:00:00
544              43548  ...  2010-12-26 22:10:00
548              43724  ...  2010-12-29 12:00:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[228 rows x 10 columns]

In [80]:
df_sudeste2010.groupby('ocorrencia_classificacao').size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [81]:
df_sudeste2010.groupby(['ocorrencia_classificacao', 'ocorrencia_uf']).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  MG                7
                          RJ                9
                          SP               24
INCIDENTE                 ES                5
                          MG               39
                          RJ               52
                          SP               74
INCIDENTE GRAVE           MG                5
                          RJ                4
                          SP                9
dtype: int64

In [82]:
df_sudeste2010.groupby(['ocorrencia_uf', 'ocorrencia_classificacao']).size()

ocorrencia_uf  ocorrencia_classificacao
ES             INCIDENTE                    5
MG             ACIDENTE                     7
               INCIDENTE                   39
               INCIDENTE GRAVE              5
RJ             ACIDENTE                     9
               INCIDENTE                   52
               INCIDENTE GRAVE              4
SP             ACIDENTE                    24
               INCIDENTE                   74
               INCIDENTE GRAVE              9
dtype: int64

In [84]:
df_sudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [87]:
# total de recomendações no Rio de Janeiro
filtro = df_sudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
df_sudeste2010.loc[filtro].total_recomendacoes.sum()

25

In [93]:
# Agrupando por cidade e somando total_recomendações (Só para cidades com total de recomendações > 0)
df_sudeste2010.loc[df_sudeste2010.total_recomendacoes > 0].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values(ascending=False)

ocorrencia_cidade
SÃO PAULO                41
RIO DE JANEIRO           25
CAMANDUCAIA               9
BRAGANÇA PAULISTA         9
RESENDE                   8
JUNDIAÍ                   7
TIMÓTEO                   3
NOVO HORIZONTE            3
IPERÓ                     3
SÃO BERNARDO DO CAMPO     2
BELO HORIZONTE            2
ITANHAÉM                  1
BOM JESUS DO GALHO        1
BOITUVA                   1
Name: total_recomendacoes, dtype: int64

In [95]:
df_sudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBAE     0
SBAQ     0
SBBH     0
SBBP     9
SBBU     0
SBCF     0
SBGL     3
SBGR     0
SBIP     0
SBJD     7
SBJR     3
SBKP     0
SBME     0
SBMK     0
SBML     0
SBMT    27
SBPC     0
SBPR     1
SBRJ    19
SBRP     0
SBSJ     0
SBSP     0
SBSR     0
SBUL     0
SBUR     0
SBVT     0
SDAM     0
SDOI     1
SDPW     0
SDPY     0
SNDT     0
SNDV     0
SNXT     0
NaN     45
Name: total_recomendacoes, dtype: int64

In [98]:
filtro_total_re = df_sudeste2010.total_recomendacoes > 0
df_sudeste2010.loc[filtro_total_re].groupby(['ocorrencia_cidade', df_sudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64